
<!DOCTYPE html>
<html>
  <body>
    <div>
      Your session: <%=h session[:name_conteudo] %>
    </div>

    <form method="POST" action"/clear">
      <input type="submit" value="Clear Session" />

    </form>
  </body>
</html>